@model BE.Models.Survey

@{
    ViewData["Title"] = "Take Survey: " + Model.Title;
}

<h1>Take Survey: @Model.Title</h1>

@if (Model != null)
{
    @* <p>@Model.Description</p> *@

    <form asp-action="TakeSurvey" method="post">
        <input type="hidden" asp-for="Id" />

        @foreach (var question in Model.Questions)
        {
            <h3>@question.Title</h3>

            @foreach (var option in question.Options)
            {
                <div class="col-sm-5">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" name="@question.Id" value="@option.Id" />
                            @option.Answer
                        </label>
                    </div>
                </div>
                
            }
        }
        <button type="submit" class="btn btn-primary me-2">Submit Survey</button>
    </form>
}
else
{
    <p>Survey not found!</p>
}
